# Build directories
**/build/
**/Debug/
**/Release/
**/Drivers/
**/cmake/
build/*
Debug/*
Release/*

# Build directories
build/
Debug/
Release/
Drivers/
cmake/

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.ninja

# STM32 specific
*.lst
*.list

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CMakePresets.json

# Specific files
stm32f439zitx_flash.ld
startup_stm32f439xx.s


##
#git ls-files | ForEach-Object { 
#    $dir = Split-Path $_ -Parent
#    if ($dir) { mkdir "..\LAB1_MX_submission\$dir" -Force }
#    copy $_ "..\LAB1_MX_submission\$_"
#}
##